# Modern browsers with ES2017+ support
# This eliminates 13.5 KiB of unnecessary polyfills
> 0.5%
last 2 versions
Firefox ESR
not dead
not IE 11
not IE_Mob 11
not op_mini all
not and_uc > 0
Chrome >= 58
Safari >= 10.1
Firefox >= 55
Edge >= 16
iOS >= 10.3
Android >= 7